body {
  font-family: Arial;
  text-align: center;
  margin-top: 80px;
}

input {
  width: 300px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

#result {
  margin-top: 30px;
  font-size: 20px;
}
